@{
    ViewBag.Title = "Контакты";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <address>
        ул. Лодыгина, 9, офис 26<br />
        Пермь, Россия<br />
        <abbr title="Phone">Телефон:</abbr>
        +7 (342) 200-94-32
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Директор:</strong>  Половников Олег Сергеевич<br />
    </address>
</div>