@{
    ViewBag.Title = "Домашняя страница";
}
<h2>Добро пожаловать в систему управления проектами компании Пангея!</h2>
<div>
   @if(!Request.IsAuthenticated)
   { 
    <p>Прежде чем начать работу вам необходимо войти в систему. Если у вас еще нет логина и пароля - зарегистрируйтесь.</p>
   }
   else
   {
       <p>Обновление сайта от 15.01.2015</p>
       <ul>
           <li>Новые события появляются на странице событий автоматически</li>
           <li>Пользователи теперь могут видеть информацию о себе (нажав на свой email в правом верхнем углу)</li>
           <li>Можно отмечать не все события как просмотренные (с помощью галочек). К сожалению, когда происходит автообновление - галочки сбрасываются</li>
           @if(User.IsInRole("Директор"))
           {
               <li>Удалена роль администратора</li>
               <li>Роли отсортированы в правильном порядке</li>
               <li>теперь возможно редактировать роли не переходя на страницу редактирования пользователя</li>
               
           }
       </ul>
       <p>Навигация осуществляется с помощью верхнего меню. </p>
       <p>Вкладка @Html.ActionLink("Проекты","Index","Project") содержит список всех проектов, когда-либо созданных в данной системе. Подробнее  о структуре проектов: <br/>У каждого проекта
    есть ответственное лицо - главный инженер проекта. Этот человек может редактировать проекты, создавать новые как проекты, так и стадии/разделы/задания, назначать ответственных за 
    каждую часть проекта и подтверждать успешное выполнение частей проекта. Каждый проект, как можно догадаться, состоит из стадий, которые состоят из разделов, поделенных на задания.<br/>
    У всех частей проекта есть несколько одинаковых атрибутов:
    <ul>
        <li>Название</li>
        <li>Описание</li>
        <li>Дедлайн</li>
        <li>Менеджер/исполнитель - человек, ответственный за данную часть проекта, либо за весь проект</li>
        <li>Состояние - описывает текущее состояние части проекта, например: "в работе", "завершено", "доработка" и т.д.</li>
    </ul>
    </p>
   }

</div>

